// footer
footer.footer
    .footer_top
        .footer_logo 
            img(src='assets/img/logo-on-site.svg')            
        .footer_nav
            ul.nav_list
                +navLink('#','О нас')
                +navLink('#','Услуги')
                +navLink('#','Тарифы')
                +navLink('#','Калькулятор')
                +navLink('#','Контакт')
        .footer_contact
            p Телефон: 8 (495) 721-05-04
            p E-mail: mail@parketmasters.com
        .footer_mes 
            +navMes('youtube')
            +navMes('watsapp')
            +navMes('telegram')
    .footer_bottom
        .footer_comp
            p © 2014 - 2022 Паркет Мастера - циклевка паркета в Москве.
        .footer_spons
            img(src='assets/img/sponsor.png')