/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --black: #2C2C2C;
    --white: #FFF;
    --grey: #878787;
    --yellow: #EDE574;
    --green: #B4CE9B;
    --light-blue: #E6EEF4;
    --bluei: #DDE9F2;
    --transparent: transparent;
}

/* Components */