.order {
  @apply flex;
  margin-bottom: 245px;

  &_content {
    @apply flex;
    margin-top: 172px;
    flex-direction: column;
    max-width: 815px;

    & h1 {
      font-family: 'Montserrat-Bold';
      font-weight: 600;
      font-size: 120px;
      line-height: 100%;
      text-transform: uppercase;
      margin-bottom: 125px;
    }  
    .order__form{
      .form_text{
        @apply bg-white;
      }
      .button{
        left: 103px;
      }
    }  
  }

  


  &_image {
    @apply relative;
    min-width: 1236px;
    height: 809px;
    right: 30px;
    margin-left: -290px;
    z-index: -1;

    &_bg {
      @apply absolute;
      max-width: 1236px;
      max-height: 809px;
    }

    &_sign {
      @apply absolute;
      min-width: 505px;
      min-height: 848px;
      min-width: 555px;
      min-height: 898px;
      top: -105px;
      right: 0px;
    }
  }
}