extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  //order
  section.order 
    .order_content 
      h1.order_title циклёвка паркета в москве
      +formOrder('Заказать циклёвку')
    .order_image
      .order_image_bg
        img(src='assets/img/background.png' alt="background")
        .order_image_sign
          img(src='assets/img/sign.png')
  //rates
  section.rates(id="info")
    .rates_info
      .rates_title 
        h2 тарифы
      .rates_list 
        .item.one 
          .item_rates 
            h3 Стандарт 
          .item_content 
            p 
              | Базовый комплекс работ + 
              span.text_bold 3-х разовое покрытие лаком
          .item__price 
            p
              span.price 450 
              | руб./м²
          +btn('Подробнее')
        +ratesItem('two','Эконом','','Стандартная шлифовка и базовый комплекс работ','299', 'руб./м²')
        +ratesItem('three','Премиум','Идеальная финишная шлифовка', '+ 3-х разовое покрытие лаком','555', 'руб./м²')
        +ratesItem('four','Макси','Еврошлифовка', '+ 3-х разовое покрытие лаком','900', 'руб./м²')
    .rates_text 
      .rates_mark 
        img(src="assets/img/departure.png")
      .rates_select 
        p Вам остаётся только сделать выбор.
  //how_we_work
  section.how_we_work(id='how_we')
    h2 как работаем?
  .how_we_work_block
    .how_we_work_image 
      img(src="assets/img/how_we.png")
    .how_we_work_content
      .how_we_work_title 
        p Мы используем только качественные 
          |и безопасные материалы
      .how_we_work_points
        +workPoints('assets/img/icon/consul.svg', 'Консультация')
        +workPoints('assets/img/icon/contract.svg', 'Оформляем договор')
        +workPoints('assets/img/icon/work.svg', 'Приезжаем и выполняем работу')
        +workPoints('assets/img/icon/purity.svg', 'Убираем за собой')        
  .how_we_work_because
    h2 РАБОТАЕМ БЕЗ ПЫЛИ ПОТОМУ ЧТО:
    ol 
      li 1. Используем современное оборудование с мощнейшими пылесборниками
      li 2. Перед работой стены укрываем статической плёнкой
      li 3. Исключаем возникновение сквозняков во время работы 
  +blockForm('Заявка на бесплатный расчёт стоимости','Наш менеджер свяжется с Вами в ближайшее время','Отправить')  
  //our_work
  section.our_work(id='our_work')
    h2 Наши работы
    swiper-container.mySwiper(style='--swiper-navigation-color: var(--grey); --swiper-pagination-color: var(--grey)' thumbs-swiper='.mySwiper2' loop='true' space-between='10' navigation='true')
      swiper-slide
        img(src='assets/img/slider/image_1.png')
      swiper-slide
        img(src='assets/img/slider/image_1.png')
      swiper-slide
        img(src='assets/img/slider/image_1.png')
      swiper-slide
        img(src='assets/img/slider/image_1.png')
      swiper-slide
        img(src='assets/img/slider/image_1.png')
    swiper-container.mySwiper2(loop='true' space-between='10' slides-per-view='4' free-mode='true' watch-slides-progress='true')
      swiper-slide
        img(src='assets/img/slider/image_2.png')
      swiper-slide
        img(src='assets/img/slider/image_3.png')
      swiper-slide
        img(src='assets/img/slider/image_4.png')
      swiper-slide
        img(src='assets/img/slider/image_5.png')
    +btn('Посмотреть другие работы')
  //advantages
  section.advantages(id='adven') 
    h2 Преимущества   
    .advantages_content      
      .advantages_points
        +advanPoints('Современные технологии','Вся работа организована с применением современных технологий и новейшего оборудования, а также с использованием высококачественных материалов и химии, одобренных Минздравом.','assets/img/icon/tech.svg')
        +advanPoints('Профессионалы','Каждый мастер компании имеет более 7 лет успешного опыта выполнения паркетных работ.','assets/img/icon/profi.svg')
        +advanPoints('20 лет уникального опыта','За эти годы мы приобрели колоссальный опыт в этой сфере и завоевали исключительно положительную репутацию среди десятков подобных нам фирм.','assets/img/icon/exper.svg') 
      .advantages_image 
        img(src="assets/img/advantages.png") 
    +blockForm('Проверьте нас в деле!','Мы готовы сделать идеальный паркет для Вас!','Закаpать')
  //questions
  section.questions(id='comm')
    .questions_title
      h2 вопросы
    .questions_points 
      ul.questions_list
        li
          a(href='#').questions_link='Можно ли выполнить циклёвку пола без выноса мебели?'
            img(src="assets/img/icon/vector.svg")
          +item('Технология циклёвки паркета подразумевает направление работ от стены до стены, без остановки оборудования. Нанесение лака также нельзя останавливать, так как он быстро сохнет. Мебель затрудняет выполнение циклевания и оставлять ее в помещении тоже не желательно.')  
        li
          a(href='#').questions_link='На чем можно сэкономить?'
            img(src="assets/img/icon/vector.svg")
          +item('Технология циклёвки паркета подразумевает направление работ от стены до стены, без остановки оборудования. Нанесение лака также нельзя останавливать, так как он быстро сохнет. Мебель затрудняет выполнение циклевания и оставлять ее в помещении тоже не желательно.')          
        li
          a(href='#').questions_link='Сколько длится циклёвка паркета?'
            img(src="assets/img/icon/vector.svg")
          +item('Технология циклёвки паркета подразумевает направление работ от стены до стены, без остановки оборудования. Нанесение лака также нельзя останавливать, так как он быстро сохнет. Мебель затрудняет выполнение циклевания и оставлять ее в помещении тоже не желательно.')
        li
          a(href='#').questions_link='Циклёвку лучше выполнять до или после ремонта?'
            img(src="assets/img/icon/vector.svg")
          +item('Технология циклёвки паркета подразумевает направление работ от стены до стены, без остановки оборудования. Нанесение лака также нельзя останавливать, так как он быстро сохнет. Мебель затрудняет выполнение циклевания и оставлять ее в помещении тоже не желательно.')
        li
          a(href='#').questions_link='Возможна ли циклёвка паркета без пыли?'
            img(src="assets/img/icon/vector.svg")
          +item('Технология циклёвки паркета подразумевает направление работ от стены до стены, без остановки оборудования. Нанесение лака также нельзя останавливать, так как он быстро сохнет. Мебель затрудняет выполнение циклевания и оставлять ее в помещении тоже не желательно.')
  //blog  
  section.blog(id='blog')
    .blog_title
      h2 блог
    .blog_list
      +blogItem('assets/img/ukladka.png','04.04.2017','Паркетная доска. Какая древесина лучше подходит?','Паркет на полу прекрасно смотрится в любом помещении. Главное, правильно подобрать породу дерева, учитывая его характеристики и свойства, а также внешние отличия.','Подробнее')
      +blogItem('assets/img/ukladka.png','19.02.2019','Паркетная доска. Какая древесина лучше подходит?','Паркет на полу прекрасно смотрится в любом помещении. Главное, правильно подобрать породу дерева, учитывая его характеристики и свойства, а также внешние отличия.','Подробнее')
      +blogItem('assets/img/ukladka.png','01.01.2017','Паркетная доска. Какая древесина лучше подходит?','Паркет на полу прекрасно смотрится в любом помещении. Главное, правильно подобрать породу дерева, учитывая его характеристики и свойства, а также внешние отличия.','Подробнее')

